<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <!--  EVENT QUEUE PERSIST STAMP INTERVAL
      The minimum interval between saving the event queue's last processed event stamp.
      Default value: 00:00:10 (10 seconds)
-->
      <setting name="EventQueue.PersistStampInterval" value="00:00:10" xdt:Transform="Insert" xdt:Locator="XPath(parent::*[not(contains(@name, 'EventQueue.PersistStampInterval'))])"/>
      <!--  EVENT QUEUE PERSIST STAMP MAX AGE
      The maximum age of remote events to be replayed at application startup. 
      When Sitecore starts, it will check this setting. Remote events that are older than this age will not be replayed. 
      Default value: 00:10:00 (10 minutes)
-->
      <setting name="EventQueue.PersistStampMaxAge" value="00:10:00" xdt:Transform="Insert" xdt:Locator="XPath(parent::*[not(contains(@name, 'EventQueue.PersistStampMaxAge'))])"/>
    </settings>
  </sitecore>
</configuration>