<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <processors>
      <loggedin>
        <processor mode="on" type="Sitecore.Pipelines.LoggedIn.CleanupUserProfile, Sitecore.Kernel" xdt:Transform="InsertAfter(processor[contains(@type, 'Sitecore.Pipelines.LoggedIn.Ticket, Sitecore.Kernel')])"/>
      </loggedin>
    </processors>
    <mediaLibrary>
      <!-- MEDIA REQUEST PREFIXES
     Allows you to configure additional media prefixes (in addition to the prefix defined by the Media.MediaLinkPrefix setting)
     The prefixes are used by Sitecore to recognize media URLs.
     Notice: For each custom media prefix, you must also add a corresponding entry to the <customHandlers> section
-->
      <mediaPrefixes xdt:Transform="InsertBefore(/configuration/sitecore/mediaLibrary/*)">
        <!-- Example
  <prefix value="-/media"/>
  -->
      </mediaPrefixes>
    </mediaLibrary>
    <settings>
      <!--  REMEMBER LAST LOGGED IN USER NAME 
      Specifies whether Sitecore will remember the last logged in user name on the login page (stored encrypted in a cookie). 
      If you set this to false, the user name field on the login page and change password page will always be blank.
      Default: true
-->
      <setting name="Login.RememberLastLoggedInUserName" value="true" xdt:Transform="Insert" />

      <!--  MEDIA - MEDIA LINK PREFIX
      The prefix to use when Sitecore generates media links. The setting is used in the front-end as well as the back-end.
      Notice: If you specify a custom media link prefix, you must also add a corresponding entry to the <customHandlers> section. If the value is not set, the default media request prefix will be used (which by default is "~/media")
      Default value: ""
-->
      <setting name="Media.MediaLinkPrefix" value="" xdt:Transform="Insert" />
    </settings>
  </sitecore>
</configuration>