<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <events>
      <event name="publish:end:remote" xdt:Transform="Insert">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site>website</site>
          </sites>
        </handler>
      </event>
    </events>
    <pipelines>
      <getMediaCreatorOptions xdt:Transform="InsertAfter(/configuration/sitecore/pipelines/getAboutInformation)" xdt:Locator="XPath(parent::*[not(contains(name(), 'getMediaCreatorOptions'))])"></getMediaCreatorOptions>
    </pipelines>

    <settings>
      <!--  PROFILE ITEM DATABASE
      Specifies the database where user profile items are stored (at the following path:
      /sitecore/system/Settings/Security/Profiles)
      Default value: core
-->
      <setting name="ProfileItemDatabase" value="core" xdt:Transform="Insert" xdt:Locator="XPath(parent::*[not(contains(@name, 'ProfileItemDatabase'))])"/>

      <!--  XmlControls.OutputDebugFiles
      Specifies if the code for compiled XmlControls will be saved as *.cs file.
      If true, the *.cs files will be saved in to the debug folders associated with the XmlControls, 
      typically /sitecore/shell/applications/debug or /sitecore/shell/controls/debug.
      Default value: false
-->
      <setting name="XmlControls.OutputDebugFiles" value="false" xdt:Transform="Insert" xdt:Locator="XPath(parent::*[not(contains(@name, 'XmlControls.OutputDebugFiles'))])"/>
    </settings>
  </sitecore>
</configuration>