<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <sites>
      <site name="login" virtualFolder="/sitecore/login" physicalFolder="/sitecore/login" enableAnalytics="false" database="core" domain="sitecore" disableXmlControls="true" xdt:Transform="SetAttributes(disableXmlControls)" xdt:Locator="Match(name)" />
    </sites>
  </sitecore>
  <system.web>
    <membership defaultProvider="sitecore" hashAlgorithmType="SHA1" xdt:Transform="SetAttributes(hashAlgorithmType)" xdt:Locator="Match(defaultProvider)"></membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" xdt:Transform="RemoveAttributes(appliesTo)"></assemblyBinding>
  </runtime>
</configuration>