<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <!--  MEDIA RESPONSE - CACHEABILITY
 The <see cref="HttpCacheability">cacheability</see> to use in media response headers.
 Possible values: NoCache, Private, Public, Server, ServerAndNoCache, ServerAndPrivate
 Default value: private
-->
      <setting name="MediaResponse.Cacheability" value="private" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>
    </settings>
  </sitecore>
  <system.web>
    <httpRuntime enableKernelOutputCache="false" xdt:Transform="SetAttributes"/>
  </system.web>
</configuration>