<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <settings>
      <!--  SERIALIZATION - SERIALIZATION FOLDER PATH MAX LENGTH
      In Windows, there is 248 characters limit on the lenght of file system paths. To avoid exceeding the maximum path length, the 
      serialization API will shorten long path names. This setting specifies the maximum length of the path to the data/serialization 
      folder, which determines how long item paths can be before they are shortened.
      Important: The value of this setting must be the same on all Sitecore instances accessing the serialized data. 
      Important: When changing this value, it's recommended to remove the contents of the serialization folder and serialize all items 
      again. Otherwise duplicates of serialized items may appear in the serialization folder.
      Example: A value of "90" for this setting will mean that item paths longer than 150 characters will be shortened, since Sitecore 
      reserves 8 characters (and 248 - 8 - 90 = 150). 
      Default value: 90
-->
      <setting name="Serialization.SerializationFolderPathMaxLength" value="90" xdt:Transform="Insert" />
    </settings>
  </sitecore>
</configuration>