<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <pipelines>
      <!-- Item filtering. Used for publishing items on the fly when a web site runs in live mode. -->
      <filterItem xdt:Transform="Insert">
        <processor type="Sitecore.Nexus.Pipelines.FilterItem.CheckIfFilteringIsActive, Sitecore.Nexus"/>
        <processor type="Sitecore.Nexus.Pipelines.FilterItem.GetPublishedVersionOfItem, Sitecore.Nexus"/>
      </filterItem>
      <healthMonitor>
        <processor>
          <counters hint="raw:AddCounter" xdt:Transform="Replace">
            <counter category="Process" name="Private Bytes" instanceType="Windows" />
            <counter category="Process" name="Virtual Bytes" instanceType="Windows" />
            <counter category="Process" name="Page File Bytes" instanceType="Windows" />
            <counter category=".net CLR Memory" name="# Bytes in all Heaps" instanceType="CLR" />
            <counter category=".net CLR Memory" name="% Time in GC" instanceType="CLR" />
            <counter category=".net CLR Memory" name="Large Object Heap size" instanceType="CLR" />
            <counter category=".net CLR Loading" name="Bytes in Loader Heap" instanceType="CLR" />
            <counter category=".net CLR Loading" name="Current Assemblies" instanceType="CLR" />
          </counters>
        </processor>
      </healthMonitor>
    </pipelines>
  </sitecore>
</configuration>