<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <sectionGroup name="scripting">
      <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      <sectionGroup name="webServices">
        <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
        <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral,PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
        <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
        <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>
  <sitecore>
    <pipelines>
      <preprocessRequest>
        <processor type="Sitecore.Pipelines.PreprocessRequest.SuppressFormValidation, Sitecore.Kernel" xdt:Transform="InsertBefore(/configuration/sitecore/pipelines/*)"/>
      </preprocessRequest>
      <httpRequestEnd>
        <processor type="Sitecore.Pipelines.HttpRequest.StopMeasurements, Sitecore.Kernel" xdt:Locator="Match(type)">
          <ShowThresholdWarnings xdt:Transform="InsertBefore(*)">false</ShowThresholdWarnings>
        </processor>
      </httpRequestEnd>
      <getRenderingPreview>
        <processor type="Sitecore.Pipelines.GetRenderingPreview.TryRenderControl,Sitecore.Kernel" xdt:Transform="InsertAfter(processor[contains(@type, 'Sitecore.Pipelines.GetRenderingPreview.GetXslRenderingPreview,Sitecore.Kernel')])"/>
      </getRenderingPreview>
      <getContentEditorWarnings>
        <processor type="Sitecore.Pipelines.GetContentEditorWarnings.RunRules, Sitecore.Kernel" xdt:Transform="Insert" />
        <processor type="Sitecore.Pipelines.GetContentEditorWarnings.Notifications, Sitecore.Kernel" xdt:Transform="Insert" />
      </getContentEditorWarnings>
      <getPlaceholderRenderings>
        <processor type="Sitecore.Pipelines.GetPlaceholderRenderings.GetPredefinedRenderings, Sitecore.Kernel" xdt:Transform="InsertAfter(processor[contains(@type, 'Sitecore.Pipelines.GetPlaceholderRenderings.GetAllowedRenderings, Sitecore.Kernel')])"/>
      </getPlaceholderRenderings>

      <insertRenderings xdt:Transform="Insert" >
        <processor type="Sitecore.Pipelines.InsertRenderings.Processors.GetItem, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.InsertRenderings.Processors.AddPageDesignerRenderings, Sitecore.Kernel, Version=6, Culture=neutral" />
        <processor type="Sitecore.Pipelines.InsertRenderings.Processors.AddRenderings, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.InsertRenderings.Processors.EvaluateConditions, Sitecore.Kernel" />
      </insertRenderings>

      <getChromeData xdt:Transform="Insert" >
        <processor type="Sitecore.Pipelines.GetChromeData.Setup, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetChromeData.GetFieldChromeData, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetChromeData.GetWordFieldChromeData, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetChromeData.GetRenderingChromeData, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetChromeData.GetEditFrameChromeData, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel" />
      </getChromeData>

      <getRenderingDatasource xdt:Transform="Insert" >
        <processor type="Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceTemplate, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetRenderingDatasource.CheckDialogState, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetRenderingDatasource.GetDialogUrl, Sitecore.Kernel" />
      </getRenderingDatasource>

      <loadRichTextContent xdt:Transform="Insert" >
      </loadRichTextContent>

      <saveRichTextContent xdt:Transform="Insert" >
        <processor type="Sitecore.Shell.Controls.RichTextEditor.Pipelines.SaveRichTextContent.EmbedInParagraph, Sitecore.Client" />
      </saveRichTextContent>


      <insertRenderings xdt:Transform="Insert" >
        <processor type="Sitecore.Pipelines.InsertRenderings.Processors.GetItem, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.InsertRenderings.Processors.AddPageDesignerRenderings, Sitecore.Kernel, Version=6, Culture=neutral" />
        <processor type="Sitecore.Pipelines.InsertRenderings.Processors.AddRenderings, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.InsertRenderings.Processors.EvaluateConditions, Sitecore.Kernel" />
      </insertRenderings>

      <getChromeData xdt:Transform="Insert" >
        <processor type="Sitecore.Pipelines.GetChromeData.Setup, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetChromeData.GetFieldChromeData, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetChromeData.GetWordFieldChromeData, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetChromeData.GetRenderingChromeData, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetChromeData.GetEditFrameChromeData, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetChromeData.GetPlaceholderChromeData, Sitecore.Kernel" />
      </getChromeData>

      <getRenderingDatasource xdt:Transform="Insert" >
        <processor type="Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceLocation, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetRenderingDatasource.GetDatasourceTemplate, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetRenderingDatasource.CheckDialogState, Sitecore.Kernel" />
        <processor type="Sitecore.Pipelines.GetRenderingDatasource.GetDialogUrl, Sitecore.Kernel" />
      </getRenderingDatasource>

      <loadRichTextContent xdt:Transform="Insert" >
      </loadRichTextContent>

      <saveRichTextContent xdt:Transform="Insert" >
        <processor type="Sitecore.Shell.Controls.RichTextEditor.Pipelines.SaveRichTextContent.EmbedInParagraph, Sitecore.Client" />
      </saveRichTextContent>
    </pipelines>

    <databases>
      <NotificationProvider type="Sitecore.Data.DataProviders.$(database).$(database)NotificationProvider, Sitecore.Kernel" xdt:Transform="Insert">
        <param connectionStringName="$(id)">
        </param>
        <param desc="databaseName">$(id)</param>
      </NotificationProvider>
    </databases>

    <scheduling>
      <agent type="Sitecore.Tasks.CloneNotificationsCleanupAgent" method="Run" interval="1.00:00:00" xdt:Transform="Insert">
        <LogActivity>true</LogActivity>
      </agent>
    </scheduling>

    <processors>
      <uiArchiveItems>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.ArchiveItems,Sitecore.Kernel" method="CheckPermissions" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(type, method)"/>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.ArchiveItems,Sitecore.Kernel" method="Confirm" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(type, method)"/>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.ArchiveItems,Sitecore.Kernel" method="CheckTemplateLinks" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(type, method)"/>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.ArchiveItems,Sitecore.Kernel" method="CheckCloneLinks" xdt:Transform="Insert" />
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.ArchiveItems,Sitecore.Kernel" method="CheckLinks" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(type, method)"/>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.ArchiveItems,Sitecore.Kernel" method="CheckLanguage" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(type, method)"/>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.ArchiveItems,Sitecore.Kernel" method="UncloneItems" xdt:Transform="Insert" />
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.ArchiveItems,Sitecore.Kernel" method="Execute" xdt:Transform="SetAttributes(type)" xdt:Locator="Match(type, method)"/>
      </uiArchiveItems>

      <uiCloneItems xdt:Transform="InsertAfter(/configuration/sitecore/processors/uiCopyItems)">
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CloneItems,Sitecore.Kernel" method="GetDestination" />
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CloneItems,Sitecore.Kernel" method="CheckDestination" />
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CloneItems,Sitecore.Kernel" method="CheckLanguage" />
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.CloneItems,Sitecore.Kernel" method="Execute" />
      </uiCloneItems>

      <uiDeleteItems>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.DeleteItems,Sitecore.Kernel" method="CheckCloneLinks" xdt:Transform="InsertAfter(processor[@method='CheckTemplateLinks'])"/>
        <processor mode="on" type="Sitecore.Shell.Framework.Pipelines.DeleteItems,Sitecore.Kernel" method="UncloneItems" xdt:Transform="InsertAfter(processor[@method='CheckLanguage'])" />
      </uiDeleteItems>

      <deleteVersionsUI>
        <processor mode="on" type="Sitecore.Shell.Framework.Commands.DeleteVersion,Sitecore.Kernel" method="CheckReferrers" xdt:Transform="InsertAfter(processor[@method='Confirmation'])" />
      </deleteVersionsUI>
    </processors>

    <settings>
      <setting name="Caching.DefaultFilteredItemsCacheSize" value="2MB" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>

      <setting name="IgnoreUrlPrefixes" value="/sitecore/default.aspx|/trace.axd|/webresource.axd|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.DialogHandler.aspx|/sitecore/shell/applications/content manager/telerik.web.ui.dialoghandler.aspx|/sitecore/shell/Controls/Rich Text Editor/Telerik.Web.UI.SpellCheckHandler.axd|/Telerik.Web.UI.WebResource.axd|/sitecore/admin/upgrade/|/layouts/testing" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)"/>

      <!--  HTML EDITOR DEFAULT CONFIGURATION TYPE
      Specifies the type responsible for setting up the rich text editor. Can be overriden at profile level. Must inherit from Sitecore.Shell.Controls.RichTextEditor.EditorConfiguration,Sitecore.Client.
      Default value: Sitecore.Shell.Controls.RichTextEditor.EditorConfiguration,Sitecore.Client
-->
      <setting name="HtmlEditor.DefaultConfigurationType" value="Sitecore.Shell.Controls.RichTextEditor.EditorConfiguration,Sitecore.Client" xdt:Transform="Insert" />
      <!--  HTML EDITOR DEFAULT PROFILE
      Path to the default html editor profile.
      Default value: /sitecore/system/Settings/Html Editor Profiles/Rich Text Default
-->
      <setting name="HtmlEditor.DefaultProfile" value="/sitecore/system/Settings/Html Editor Profiles/Rich Text Default" xdt:Transform="Insert"/>

      <!--WORD FIELD INLINE EDITING PADDING
           Defines padding of a Word Field control that appears in the inline editing mode.
      -->
      <setting name="WordField.InlineEditing.Padding" value="10px" xdt:Transform="Insert"/>



      <!--  WEB EDIT CLASSIC
      Indicates if WebEdit runs in classic (dots) mode.
      Default value: false
-->
      <setting name="WebEdit.Classic" value="false" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      <!--  WEB EDIT CSS Class
      Default css class for enabled edit dots
      Default value: scWebEditDot
-->
      <setting name="WebEdit.CssClass" value="scWebEditDot" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      <!-- WebEdit.EnabledDot
      Specifies the image that indicates a dot in web edit. This can be a absolute path or
      a relative path to the current theme.
-->
      <setting name="WebEdit.EnabledDot" value="Other/16x16/bullet_ball_glass_green.png" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      <!--  WEB EDIT DISABLED CSS Class
      Default css class for disabled edit dots
      Default value: scWebEditDotDisabled
-->
      <setting name="WebEdit.DisabledCssClass" value="scWebEditDotDisabled" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      <!-- WebEdit.DisabledDot
      Specifies the image that indicates a dot in web edit. This can be a absolute path or
      a relative path to the current theme.
-->
      <setting name="WebEdit.DisabledDot" value="Other/16x16/bullet_ball_glass_gray.png" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
    </settings>
  </sitecore>

  <system.webServer>
    <handlers>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" xdt:Transform="Insert" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" xdt:Transform="Insert" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" xdt:Transform="Insert" />
    </handlers>
  </system.webServer>

  <system.web>
    <httpHandlers>
      <add verb="*" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" xdt:Transform="Insert" />
      <add verb="*" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" xdt:Transform="Insert" />
      <add verb="*" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" xdt:Transform="Insert" />
    </httpHandlers>
  </system.web>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727" xdt:Transform="SetAttributes(appliesTo)"></assemblyBinding>
  </runtime>
</configuration>