<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <databases>
      <database id="web">
        <NotificationProvider xdt:Transform="Remove"></NotificationProvider>
      </database>
    </databases>
    <settings>
      <!--  PAGE STATE STORE
      Specifies the type responsible for storing SheerUI page state. 
      Must implement the IPageStateStore interface. 
      Possible values are "DatabasePageStateStore" or "FilePageStateStore".
      Default value: Sitecore.Web.UI.Sheer.FilePageStateStore, Sitecore.Kernel
-->
      <setting name="PageStateStore" value="Sitecore.Web.UI.FilePageStateStore, Sitecore.Kernel" xdt:Transform="Insert"/>

      <!--  VIEWSTATE STORE
      Specifies the type responsible for storing SheerUI viewstate. 
      Must implement the IViewStateStore interface. 
      Possible values are "DatabaseViewStateStore" or "FileViewStateStore".
      Default value: Sitecore.Web.UI.Sheer.FileViewStateStore,Sitecore.Kernel
-->
      <setting name="ViewStateStore" value="Sitecore.Web.UI.Sheer.FileViewStateStore,Sitecore.Kernel" />
    </settings>
  </sitecore>
</configuration>