#folders
[Bb]in
Databases/
[Dd]ebug*/
!*.Web/[Ss]itecore*/[Dd]ebug/
obj/
[Rr]elease*/
_ReSharper*/

#files
[Cc]onnection[Ss]trings.[Dd]ebug.config
Thumbs.db
[Tt]est[Rr]esult*
*.Web/[Ww]eb.[Cc]onfig


#extensions
*_i.c
*_p.c
*.aps
*.bak
*.cache
*.docstates
*.exe
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.suo
*.tlb
*.tlh
*.tmp
*.user
*.vspscc

#TDS Specific
/TDS.*/*
# except for the scproj file and the serialization folder
!/TDS.*/sitecore
!/TDS.*/*.csproj
!/TDS.*/*.scproj

#Glass Specific
/*.Data/Items.cs

/SitecoreUpdateAutomation/Web.config