<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <settings>
    <!-- WEBDAV USE SHORT URL
     Uses a shorter URL format for opening WebDAV folders, using the unique ID of the folder.
     Setting this to false will use the full media library path in the WebDAV URL, which can reduce performance.
     Default value: true
-->
    <setting name="WebDAV.UseShortURL" value="true"/>
  </settings>
</configuration>