<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <command name="item:personalize" type="Sitecore.Shell.Applications.WebEdit.Commands.PersonalizeItem,Sitecore.Client" xdt:Transform="InsertAfter(command[@name='item:workflow'])"/>
  <command name="item:personalizeprofile" type="Sitecore.Shell.Framework.Commands.SetProfileValue,Sitecore.Kernel" xdt:Transform="InsertAfter(command[@name='item:personalize'])" />

  <command name="webedit:editvariations" type="Sitecore.Shell.Applications.WebEdit.Commands.EditVariations,Sitecore.Client" xdt:Transform="InsertAfter(command[@name='webedit:editrenderingproperties'])" />

  <command name="webedit:personalize" type="Sitecore.Shell.Applications.WebEdit.Commands.Personalize,Sitecore.Client" xdt:Transform="InsertAfter(command[@name='webedit:openworkbox'])" />

  <command name="webedit:componentoptions" type="Sitecore.Shell.Applications.WebEdit.Commands.ComponentOptions,Sitecore.Client" xdt:Transform="InsertAfter(command[@name='webedit:previousday'])" />

  <command name="webedit:setpagevariation" type="Sitecore.Shell.Applications.WebEdit.Commands.Testing.SetPageVariation,Sitecore.Client" xdt:Transform="InsertAfter(command[@name='webedit:setdevice'])" />

  <command name="webedit:starttest" type="Sitecore.Shell.Applications.WebEdit.Commands.Testing.StartTest,Sitecore.Client" xdt:Transform="InsertAfter(command[@name='webedit:setlanguage'])" />

  <command name="webedit:stoptest" type="Sitecore.Shell.Applications.WebEdit.Commands.Testing.StopTest,Sitecore.Client" xdt:Transform="InsertAfter(command[@name='webedit:stopdebug'])" />

  <command name="webedit:togglecontrolbar" type="Sitecore.Shell.Applications.WebEdit.Commands.ToggleControlBar,Sitecore.Client" xdt:Transform="InsertAfter(command[@name='webedit:toggleinformation'])" />

</configuration>