<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <command name="contenteditor:setthumbnail" type="Sitecore.Shell.Framework.Commands.ContentEditor.SetThumbnail,Sitecore.Kernel"/>

  <command name="item:clone" type="Sitecore.Shell.Framework.Commands.Clone,Sitecore.Kernel" />
  <command name="item:unclone" type="Sitecore.Shell.Framework.Commands.Unclone,Sitecore.Kernel" />
  <command name="item:uncloneitem" type="Sitecore.Shell.Framework.Commands.UncloneSingleItem,Sitecore.Kernel" />
  <command name="item:selectthumbnail" type="Sitecore.Shell.Framework.Commands.SelectThumbnail,Sitecore.Kernel" />

  <command name="webedit:editplaceholdersettings" type="Sitecore.Shell.Applications.WebEdit.Commands.EditPlaceholderSettings,Sitecore.Client"/>
  <command name="webedit:newrendering" type="Sitecore.Shell.Applications.WebEdit.Commands.NewRendering,Sitecore.Client"/>
  <command name="webedit:otherviews" type="Sitecore.Shell.Applications.WebEdit.Commands.OtherViews,Sitecore.Client"/>
  <command name="webedit:selectlayoutpreset" type="Sitecore.Shell.Applications.WebEdit.Commands.SelectLayoutPreset,Sitecore.Client"/>
  <command name="webedit:toggledots" type="Sitecore.Shell.Applications.WebEdit.Commands.ToggleDots,Sitecore.Client"/>
  <command name="webedit:toggledesigncapability" type="Sitecore.Shell.Applications.WebEdit.Commands.ToggleDesignCapability,Sitecore.Client"/>
  <command name="webedit:toggleeditcapability" type="Sitecore.Shell.Applications.WebEdit.Commands.ToggleEditCapability,Sitecore.Client"/>
  <command name="webedit:toggletreecrumb" type="Sitecore.Shell.Applications.WebEdit.Commands.ToggleTreecrumb,Sitecore.Client"/>
  <command name="webedit:toggleshowcontrols" type="Sitecore.Shell.Applications.WebEdit.Commands.ToggleShowControls,Sitecore.Client"/>
</configuration>