<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- Simple Types -->
  <fieldType name="Rich Text" type="Sitecore.Data.Fields.HtmlField,Sitecore.Kernel" resizable="true" xdt:Transform="SetAttributes(resizable)" xdt:Locator="Match(name)"/>

  <!-- List Types -->
  <fieldType name="Checklist" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" resizable="true" xdt:Transform="SetAttributes(resizable)" xdt:Locator="Match(name)"/>
  <fieldType name="Multilist" type="Sitecore.Data.Fields.MultilistField,Sitecore.Kernel" resizable="true" xdt:Transform="SetAttributes(resizable)" xdt:Locator="Match(name)"/>

  <!-- Deprecated Types -->
  <fieldType name="html" type="Sitecore.Data.Fields.HtmlField,Sitecore.Kernel" resizable="true" xdt:Transform="SetAttributes(resizable)" xdt:Locator="Match(name)"/>

  <!-- Simple Types -->
  <fieldType name="Multi-Line Text" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" xdt:Transform="Insert" />

  <!-- Link Types -->
  <fieldType name="Version Link" type="Sitecore.Data.Fields.VersionLinkField,Sitecore.Kernel" xdt:Transform="Insert" />

  <!-- Developer Types -->
  <fieldType name="Frame" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" xdt:Transform="Insert" />
  <fieldType name="Rules" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" xdt:Transform="Insert" />
  <fieldType name="Tracking" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" xdt:Transform="Insert" />

  <!-- System Types -->
  <fieldType name="Datasource" type="Sitecore.Data.Fields.DatasourceField,Sitecore.Kernel" xdt:Transform="Insert" />
  <fieldType name="Thumbnail" type="Sitecore.Data.Fields.ThumbnailField,Sitecore.Kernel" xdt:Transform="Insert" />
  <fieldType name="Security" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" xdt:Transform="Insert" />

  <!-- Deprecated Types -->
  <fieldType name="memo" type="Sitecore.Data.Fields.TextField,Sitecore.Kernel" resizable="true" xdt:Transform="Insert" />
</configuration>